html,
body {
    font-size: 24px;
    background-color: rgb(165, 97, 83);
    color: rgb(41, 24, 24);
}

h1 {
    text-align: center;
}

hr {
    border-color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

a {
    color: black;
}

a:hover {
    background-color: rgb(110, 65, 57);
    color: rgb(206, 206, 206);
}

figure {
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 1.5em;
}

nav {
    text-align: center;
    background-color: rgb(138, 81, 71);
    border-radius: 1rem;
    border-width: 0.25rem;
    border-color: rgb(110, 65, 57);
    border-style: solid;
    padding: 0.1rem;
}

img {
    border-radius: 1rem;
    border-width: 0.25rem;
    border-color: rgb(51, 29, 29);
    border-style: solid;
}

.bpost {
    margin-bottom: 1em;
}

article {
    padding-right: 15rem;
}

summary {
    font-weight: bold;
}