@font-face {
    font-family: 'Hollywood';
    src: url('fonts/hollywood.ttf') format('truetype'), url('fonts/hollywood.woff') format('woff'), url('fonts/hollywood.woff2') format('woff2');
}

@font-face {
    font-family: 'Glitch';
    src: url('fonts/glitch.ttf') format('truetype'), url('fonts/glitch.woff') format('woff'), url('fonts/glitch.woff2') format('woff2');
}

@font-face {
    font-family: 'Optimus';
    src: url('fonts/Optimus.ttf') format('truetype'), url('fonts/Optimus.woff') format('woff'), url('fonts/Optimus.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 24px;
    font-family: 'Optimus', 'Courier New', Courier, monospace;
    margin: 0px;
}

#load {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 1;
}

#title {
    text-align: center;
    font-size: 38px;
    font-family: 'Optimus', 'Courier New', Courier, monospace;
}

#title-sec {
    padding-bottom: 400px;
}

#title-sec h1 {
    margin: 0px 0px 0px 0px;
    padding: 250px 0px 75px 0px;
}

.nav-bar {
    text-align: center;
    padding-right: 35px;
}

.nav-bar li {
    display: inline-flex;
    margin: 10px 20px 10px 20px;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.nav-bar li:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.sec-heading {
    margin-left: 50px;
}

.body-sec {
    padding-bottom: 100px;
    padding-top: 25px;
}

#about,
#contact {
    background-color: rgb(0, 0, 0);
    color: white;
}

#about p {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 475px;
}

#about hr {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

#projects hr {
    background-color: black;
    border-color: black;
}

#projects {
    margin-bottom: 100px;
}

#projects ul {
    text-align: center;
}

#projects .project-display {
    display: inline-block;
    background-color: black;
    color: white;
    margin: 125px 100px 0px 100px;
    padding: 125px 125px 375px 125px;
}

#contact {
    padding-bottom: 900px;
}

#contact h2 {
    margin-top: 100px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151);
}

::selection {
    background: rgb(255, 249, 198);
}

::-moz-selection {
    background: rgb(255, 249, 198);
}

.box {
    margin: auto;
    width: 60%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleSpinShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

.circleSpinOuter {
    width: 100px;
    height: 100px;
    padding: 2px;
    background: linear-gradient(to bottom, rgb(170, 210, 210) 0%, rgba(170, 210, 186, 0) 22%, rgba(170, 210, 186, 0) 96%);
    border-radius: 50%;
    animation: spin 2s linear 0s infinite;
    box-shadow: 0 0 20px rgba(100, 193, 247, 0.8);
}

.circleSpinInner {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 0 20px rgba(100, 247, 235, 0.2);
    }
    30% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(360deg);
        box-shadow: 0 0 20px rgba(100, 242, 247, 0.8);
    }
    80% {
        transform: rotate(450deg);
    }
    100% {
        transform: rotate(720deg);
        box-shadow: 0 0 20px rgba(100, 247, 247, 0.2);
    }
}